In [17]:
import pandas as pd
from mysql import connector
import os
from dotenv import find_dotenv, load_dotenv
env_file: str = find_dotenv()
if env_file:
    load_dotenv(env_file)


connection = connector.connect(
    host=os.environ.get("CARDS_DB_HOST"),
    port=os.environ.get("CARDS_DB_PORT"),
    user=os.environ.get("CARDS_DB_USER"),
    password=os.environ.get("CARDS_DB_PASSWD"),
    db=os.environ.get("CARDS_DB_NAME"),
)

In [18]:

df = pd.read_sql_query("select * from Product_Pricing", con=connection)

/var/folders/w_/g5mjpmbd7z75msn0_yv99qy40000gn/T/ipykernel_23248/124130276.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * from Product_Pricing", con=connection)

In [19]:
df

,id,price_point,product_id,web_product_details_id,versions,quanity,price,colour_id,product_id_size,size_id,...,status,date_added,updated_date,on_website,on_pricelist,qty,weight,category_id,multiply_option,zzrecord_lookup
0,8154626,20160,1348,1348,1,1,10.0,4.0,214,214,...,yes,2023-01-09 20:54:27,2023-01-09 20:54:27,0.0,0.0,1,0.0,0.0,0,1.673298e+09
1,8154625,1666052116,2506,2506,1,1,64.0,4.0,7081,7081,...,yes,2022-12-22 05:23:20,2022-12-22 05:23:20,0.0,0.0,1,0.0,0.0,0,1.671687e+09
2,8154624,1666052116,2506,2506,1,25000,1.0,698.0,7427,7427,...,yes,2022-12-22 02:40:22,2022-12-22 02:40:22,0.0,0.0,25000,0.0,0.0,0,1.671677e+09
3,8154577,1666052116,2509,2509,1,10,203.0,698.0,7091,7091,...,yes,2022-12-22 01:47:57,2022-12-22 01:47:57,0.0,0.0,10,0.0,0.0,0,1.671674e+09
4,8154578,1666052116,2509,2509,1,25,381.0,698.0,7091,7091,...,yes,2022-12-22 01:47:57,2022-12-22 01:47:57,0.0,0.0,25,0.0,0.0,0,1.671674e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680274,7940274,20160,47,47,1,400,104.0,4.0,136,136,...,yes,2022-02-04 10:00:44,2022-02-04 10:00:44,0.0,1.0,400,NaN,NaN,,NaN
680275,7940272,20160,47,47,1,200,88.0,4.0,136,136,...,yes,2022-02-04 10:00:44,2022-02-04 10:00:44,0.0,1.0,200,NaN,NaN,,NaN
680276,7940269,20160,47,47,1,50,82.0,4.0,136,136,...,yes,2022-02-04 10:00:44,2022-02-04 10:00:44,1.0,1.0,50,NaN,NaN,,NaN
680277,7940270,20160,47,47,1,100,84.0,4.0,136,136,...,yes,2022-02-04 10:00:44,2022-02-04 10:00:44,1.0,1.0,100,NaN,NaN,,NaN
680278,7940271,20160,47,47,1,150,86.0,4.0,136,136,...,yes,2022-02-04 10:00:44,2022-02-04 10:00:44,0.0,1.0,150,NaN,NaN,,NaN